footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid #fff;
  background-color: #666;
  font-family: 'NeutrafaceDisplayTitling';
  font-size: 1.25em;
}
footer ul {
  flex: 1;
  align-items: center;
  display: flex;
  margin: 20px;
  height: 40px;
}
.menu__social > li {
  display: inline-block;
}
.menu__social span {
  height: 40px;
  width: 60px;
  display: block;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
}
span.copyright {
  display: block;
}

@media only screen and (min-width : 320px) and (max-width : 640px) {
footer {
  flex-direction: column;
}
footer ul:first-child {
  margin-bottom: 0;
}
footer ul:last-child {
  margin-top: 0;
}
}

@media only screen  and (min-width : 641px) and (max-width : 1420px) {
ul.company_info {
  display: flex;
  align-items: center;
}
footer ul.company_info li {
  flex: 1;
}
footer ul.company_info li:nth-child(2) {
  width: 140px;
}
span.copyright {
  text-align: right;
}
}
