footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid #fff;
  background-color: #444;
  font-family: 'NeutrafaceDisplayTitling';
  font-size: 1.25em;
}
footer ul {
  flex: auto;
  align-items: center;
  display: flex;
  height: 40px;
}
footer ul.menu__social {
  margin-top: 20px;
}
.menu__social > li,
.site_love > li {
  display: inline-block;
}
ul.site_love li {
  width: 100%;
  text-align: center;
}
ul.site_love li a {
  cursor: pointer;
}
div.love_message {
  display: none;
  width: calc(100% - 60px);
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
  left: 30px;
  color: #555;
  background-color: #fff;
  z-index: 12;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 -9px 30px 0 rgba(0, 0, 0, 0.5);
}
div.love_message.show {
  display: block;
}
div.love_message:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -10px;
  left: calc(50% - 10px);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}
.menu__social span,
.site_love span {
  height: 30px;
  width: 60px;
  display: block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.site_love span {
  height: 20px;
  background-size: 20px;
}
span.copyright {
  display: block;
  font-family: 'NeutrafaceDisplayTitling';
}
.home footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width : 320px) and (max-width : 700px) {
footer {
  flex-direction: column;
}
footer ul:first-child {
  margin-bottom: 0;
}
footer ul:last-child {
  margin-top: 0;
}
}

@media only screen  and (min-width : 641px) and (max-width : 1420px) {

footer ul.menu__social,
footer ul.site_love {
  text-align: center;
}
footer ul.company_info {
  display: flex;
  align-items: center;
}
footer ul.company_info li {
  flex: auto;
}
footer ul.company_info li:nth-child(2) {
  width: 140px;
}
span.copyright {
  text-align: right;
  margin-right: 20px;
}
}

@media only screen  and (min-width : 701px) {
footer ul.menu__social {
  margin-top: 0px;
}
div.love_message:after {
  left: calc(50% - -90px);
}
}
