nav {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: center;
  box-shadow: 0 0 18px 0 rgba(0,0,6,.66);
  z-index: 2;
  font-family: 'NeutrafaceDisplayTitling';
  background-color: #666;
}
nav > ul {
  width: 100%;
}
nav > ul:first-child {
  min-height: 100px;
}
.site_header li:first-child {
  height: 2.75em;
}
.site_logo {
  font-size: 2.75em;
}
.site_dropdown.show {
  display: block;
}
.site_dropdown > li {
  border-bottom: 1px solid #999;
}
.site_dropdown > li:last-child {
  border-bottom: none;
}
.site_dropdown > li a {
  display: block;
  padding: 10px 0;
  user-select: none;
  font-size: 1.75em;
  text-align: center;
}

@media only screen  and (min-width : 320px) and (max-width : 1224px)  {
nav {
  width: 100%;
  border-bottom: 1px solid #fff;
}
.site_header {
  display: flex;
  flex: 1;
  align-items: center;
}
.site_header li:first-child {
  flex: 1;
}
.site_dropdown {
  display: none;
}
.site_dropdown.show li:first-child a {
  border-top: 1px solid #FFF;
}
.home_link {
  margin-left: 20px;
}
.icon__menu {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/menu.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.icon__menu.show {
  background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/x.svg');
  background-size: 30px;
}
}

@media only screen and (min-width : 1225px) and (max-width : 1420px) {
nav {
  border-right: 1px solid #fff;
}
.site_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.site_dropdown {
  width: 100%;
}
.site_logo {
  display: block;
}
}
