/*iPhone 6, 7, & 8 in landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .layout {
    min-height: calc(100vh - 200px);
  }
  .logo {
    min-height: 200px;
    font-size: 6em;
  }
  .icon__menu {
    width: 90px;
    height: 90px;
    background-size: 80px;
  }
  .icon__menu.show {
    background-size: 60px;
  }
  .menu > a {
    padding: 30px 0;
    font-size: 5em;
  }
  .footer {
    min-height: 200px;
    flex-direction: column;
  }
  .menu__social span, .site_love span {
    height: 60px;
    width: 60px;
    background-size: 60px;
  }
  .home section > div {
    min-height: calc(100vh - 657px);
  }
}

/*iPhone X in portrait & landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

}
