.home section {
  margin: 0;
  height: calc(100vh - 101px);
}
.home section.frame {
  width: 100%;
}
.home section.frame.start {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  justify-content: center;
}
.home section.frame.resume {
  display: flex;
  flex-direction: column;
}
.home section.frame.edu ul {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home section.frame.edu ul li {
  font-size: 2em;
  width: 100%;
  margin: auto;
  text-align: center;
}
.home section.frame.end {
  position: absolute;
  height: calc(100vh - 162px);
  display: flex;
  flex-direction: column;
}
.home section.frame h1 {
  margin-top: 30px;
}
.home section.frame.start h1 {
  margin-top: 0;
}
.home section.frame.start p {
  margin: 30px;
}
.job_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 60px);
  margin: auto;
}
.job_wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.job_wrapper > div:nth-child(3) {
  text-align: center;
  width: 100%;
}
.job_wrapper > div:nth-child(3) button {
  margin-top: 20px;
}
.job_wrapper .button-wrapper {
  width: 100%;
  display: flex;
}
.button {
  margin: 20px;
}
.job_date h2 {
  font-size: 3.5em;
}
.job_title {
  flex: 1;
}
.job_location {
  width: 250px;
  text-align: right;
}
div.project_details {
  display: none;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
div.project_details ul {
  flex: 1;
  margin: 20px;
}
div.project_details ul li:first-child {
  list-style: none;
}
div.project_details ul li {
  font-family: 'NeutrafaceTextBook';
  list-style: square;
  font-size: 1.25em;
  line-height: 1.15em;
  margin-bottom: 1em;
}
.home h1:nth-child(1) {
  font-size: 15vw;
}
.home h1:nth-child(2) {
  font-size: 17vw;
}
.home h1 {
  text-align: center;
}
.jobs h1 {
  margin-top: 30px;
}
.home h3 {
  font-size: 24px;
}
.home h4 {
  font-size: 2em;
  text-align: center;
}
.home p {
  text-align: center;
}
.home ul li {

}
.animated_down_arrow {
  height: 100px;
  width: 100%;
  margin-top: 30px;
  animation: header__arrow 1.5s linear infinite;
  cursor: pointer;
}
.down-arrow {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/white/down-arrow.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  bottom: 50px;
}
.download-resume-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a.download-resume {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/white/download.svg');
  background-size: 75px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
ul.tagcloud {
  display: inline-block;
  list-style-type: none;
  margin: auto 30px;
}
ul.tagcloud li {
  list-style: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 5px;
  line-height: 1.5em;
}
ul.tagcloud li:nth-of-type(3n + 1) {
  font-size: 2.25em;
}
ul.tagcloud li:nth-of-type(4n+3) {
  font-size: 2.75em;
}
ul.tagcloud li:nth-of-type(5n - 3) {
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .job_wrapper > div:nth-child(2) {
    flex-direction: column;
  }
  .job_wrapper .button-wrapper {
    margin-top: 10px;
  }
  .button {
    margin: 0;
  }
  .job_location {
    text-align: left;
    margin-top: 20px;
  }
  p {
    margin: auto 30px;
  }
}
.back_to_top_button {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}
.back_to_top_button.show {
  display: block;
}
@media only screen and (max-width: 1224px) and (min-width: 600px) {
  .job_wrapper > div:nth-child(2) {
    flex-direction: row;
  }
  .job_location {
    margin-top: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .job_wrapper .button-wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 627px) and (min-width: 558px) {

}
@media only screen and (max-width: 1420px) and (min-width: 900px) {
  .job_title h3 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 900px) and (min-width: 627px) {

}
@media only screen and (max-width: 1224px) and (min-width: 900px) {

}
@media only screen and (max-width: 1420px) and (min-width: 1225px) {
  .home .frame h1 {
    font-size: 12.5vw;
  }
  .home .frame.start h1:nth-child(1) {
    font-size: 13.75vw;
  }
  .home .frame.start h1:nth-child(2) {
    font-size: 15.75vw;
  }
  .animated_down_arrow {
    height: auto;
  }
  .job_wrapper .button-wrapper {
    display: none;
  }
  div.project_details {
    display: flex;
  }
}
