.layer-one {
  @include parallaxImage(
    'https://s3.us-east-2.amazonaws.com/jonortiz.me/pancakes.svg',
    50%, center center, calc(100vw - 60px), calc(100vh - 202px), 3, 0, 1.0
  );
}
.layer-two {
  @include parallaxText(
    calc(100vw - 60px), calc(100vh - 202px), 1, 0, 1.0
  );
}
.home {
  section {
    margin: 0 60px;
    height: calc(100vh - 161px);
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  section:first-child {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border-bottom: 1px solid #fff;

    p {
      text-align: center;
    }

    p.first {
      margin-top: 60px;
    }
  }
  section:first-child div {
    flex: 1;
  }
  section:first-child div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.last {
    border-bottom: 0;
  }
  section:nth-child(odd) {
  }
  section:nth-child(even) {
  }
}

.home section {
  a.down_animation {
    height: 50px;
    display: block;
    animation: header__arrow 1.5s linear infinite;
  }
  span.down-arrow {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/white/down-arrow.svg');
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    bottom: 60px;
  }
}

@media only screen and (max-width: 420px) and (min-width: 320px) {
  .home {
    h1:nth-child(1) {
      font-size: 3em;
    }
    h1:nth-child(2) {
      font-size: 3.5em;
    }
  }
  p {
  line-height: 1.65em;
  }
  .home section:first-child p.first {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 558px) and (min-width: 420px) {
  .home {
    h1:nth-child(1) {
      font-size: 3em;
    }
    h1:nth-child(2) {
      font-size: 3.5em;
    }
  }
  p {
    line-height: 2.15em;
  }
  .home section:first-child p.first {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 627px) and (min-width: 558px) {
  .home {
    h1:nth-child(1) {
      font-size: 4.35em;
    }
    h1:nth-child(2) {
      font-size: 5.5em;
    }
  }
}

@media only screen and (max-width: 900px) and (min-width: 627px) {
  .home {
    h1:nth-child(1) {
      font-size: 5.65em;
    }
    h1:nth-child(2) {
      font-size: 6.5em;
    }
  }
}

@media only screen and (max-width: 1224px) and (min-width: 900px) {
  .home {
    h1:nth-child(1) {
      font-size: 8.65em;
    }
    h1:nth-child(2) {
      font-size: 10em;
    }
  }
}

@media only screen and (max-width: 1420px) and (min-width: 1225px) {
  .home {
    section {
      height: calc(100vh - 60px);
    }
    h1:nth-child(1) {
      font-size: 10.35em;
    }
    h1:nth-child(2) {
      font-size: 12em;
    }
  }
}
